# Virtual environments
venv/
**/venv/
.venv/
**/.venv/

# Local secrets
.env
.env.*

# Python caches
__pycache__/
**/__pycache__/
*.pyc

# Generated outputs
reports/*.csv
logs/
**/logs/
.pytest_cache/

.vscode/
